
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HiddenDemo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container"> 
        <form method="post" action="/postdemo/submithidden">
            <input type="hidden" name="hiddenvalue" value="hello" />
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
